.error-page {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 16px;

        font-size: 2.5rem;
        font-weight: 700;
        color: var(--mantine-color-danger-0);
        text-align: center;
        letter-spacing: 0.01em;
    }

    &__text {
        max-width: 400px;
        margin-bottom: 32px;

        font-size: 1.1rem;
        color: var(--mantine-color-white-0);
        text-align: center;
        word-break: break-word;
    }

    &__button {
        min-width: 120px;
        margin-top: 8px;
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }
}
