@font-face {
    font-family: Formular;
    font-weight: 900;
    font-style: italic;
    src:
        url("./fonts/Formular-BlackItalic.woff2") format("woff2"),
        url("./fonts/Formular-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: 900;
    font-style: normal;
    src:
        url("./fonts/Formular-Black.woff2") format("woff2"),
        url("./fonts/Formular-Black.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: 500;
    font-style: italic;
    src:
        url("./fonts/Formular-MediumItalic.woff2") format("woff2"),
        url("./fonts/Formular-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: 500;
    font-style: normal;
    src:
        url("./fonts/Formular-Medium.woff2") format("woff2"),
        url("./fonts/Formular-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: normal;
    font-style: italic;
    src: url("Formular-Italic.eot");
    src:
        url("./fonts/Formular-Italic.woff2") format("woff2"),
        url("./fonts/Formular-Italic.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: normal;
    font-style: normal;
    src: url("Formular.eot");
    src:
        url("./fonts/Formular.woff2") format("woff2"),
        url("./fonts/Formular.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: 300;
    font-style: italic;
    src: url("Formular-LightItalic.eot");
    src:
        url("./fonts/Formular-LightItalic.woff2") format("woff2"),
        url("./fonts/Formular-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: 300;
    font-style: normal;
    src: url("Formular-Light.eot");
    src:
        url("./fonts/Formular-Light.woff2") format("woff2"),
        url("./fonts/Formular-Light.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: bold;
    font-style: italic;
    src: url("Formular-BoldItalic.eot");
    src:
        url("./fonts/Formular-BoldItalic.woff2") format("woff2"),
        url("./fonts/Formular-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: Formular;
    font-weight: bold;
    font-style: normal;
    src: url("Formular-Bold.eot");
    src:
        url("./fonts/Formular-Bold.woff2") format("woff2"),
        url("./fonts/Formular-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Rubik;
    font-weight: bold;
    font-style: normal;
    src: url("./fonts/Rubik-Bold.otf") format("opentype");
}
