@use "./reset";
@use "./fonts";

:root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: var(--mantine-color-backgroundDark-0);
}

html,
body,
#root {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
